.wrapper {
    & :global .MuiOutlinedInput-root {
        font-size: 16px;
    }

    & :global .MuiInputLabel-root {
        font-size: 16px;
    }

    .name,
    .message {
        width: 100%;
        background: rgba(255, 255, 255, 0.738);
    }

    .message {
        margin-top: 16px;
    }

    .btnWrap {

        .button {
            min-width: 60%;
            margin-top: 16px;
            padding: 6px;
            background-color: #704aa7a8;
            color: white;
            border: none;
            font-size: 16px;
        }
    }
}