.wrapper {

    & :global .MuiOutlinedInput-root {
        font-size: 17px;

    }

    & :global .MuiInputLabel-root {
        font-size: 17px;
    }

    .text {
        margin-top: 16px;
        width: 100%;
        color: aliceblue;
        background: rgba(255, 255, 255, 0.738);
    }


    .btnWrap {
        display: flex;

        .button {

            background-color: #704aa7a8;
            color: white;
            border: none;
            font-size: inherit;
            padding: 10px 60px;
            margin-top: 20px;

        }
    }
}